
ion-content{
    --ion-background-color: url(/assets/imagenes/fondo5.jpg) no-repeat center center / cover;
    
}

ion-card{
    --ion-background-color:rgb(226, 221, 211);
    font-size: 30px;
}

.glass-content {
    /* From https: css.glass ; */
    background: rgba(44, 44, 44, 0.548);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.432);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(15.1px);
    width: 100%;
    min-height: 100vh;
}

.row-botones{
    margin-top: 10rem;
}

.botones-inicio{
    width: 15rem;
}

.card-title{
    margin-top: 6rem;
    font-size: 40px;
    font-weight: bolder;
    color: white;
}

titulo{
    font-size: 30px;
    color: wheat;
    font-weight: bolder;
}